* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  text-align: center;
  width: 90%;
  background-color: #efefef;
  padding: 20px;
  color: #fff;
  border-radius: 20px;
}
form input::placeholder {
  width: 50em;
  margin: 3px;
  height: 2em;
  color: #cecece;
}
form .btn {
  margin: 2em 1em;
  width: 60%;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1em;

}
.fas {
  font-size: 2.5em;  
  border-radius: 50%;
  padding: 40px;

}
.fa-plane {
  color:#37bbed;
}
.fa-wallet {
  color:#37bbed;
}
.fa-money-bill-wave-alt{
  color:#37bbed;
}

.container-data {
  display: flex;
  justify-content: space-around;
  margin-top: -1em;
}

.container-data h6 {
  text-align: center;
}
.boton{
  color: rgb(0, 0, 0);
}

.iconoPlaceholder{
color: rgb(183, 183, 183);
font-family: "Font Awesome 5 Free"; 
font-weight: 600;
}
.backGr{

background-color: #37bbed;

}

.brand-logo{

  margin-right: 10% ;


}

.conversor{
  text-align: center;
  color: #aaaaaa;
  font-weight: bold;
}

